.Box {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.Box button {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.23s;
}

.Box button:hover {
  color: black;
  background-color: red;
}