.NewBoxForm {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 4px;
  width: 320px;
  margin: 0px auto;
  background-color: #151A21;
}

@media (max-width: 576px) {
  .NewBoxForm {
    width: 390px;
  }
}

.NewBoxForm h2 {
  margin-top: 0;
  text-align: center;
  color: #DEE3EA;
}

label {
  color: #DEE3EA;
}

.NewBoxForm div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

}

.NewBoxForm button {
  width: 100%;
  padding: 8px;
  font-weight: bold;
  background-color: #FD4D4D;
  color: white;
  border-radius: 4px;
  border: 1px solid #131313;
}